body {
	font-family: Arial;
}
.intro-text{
	font-family: Arial;
	border-top: 1px solid#cdcdcd;
	border-bottom: 1px solid#cdcdcd;
	background-color:rgba(55,55,55,0.7);
	color: #fff;
	padding: 50px;
	text-shadow: 1px 0px 0px #565656, 
                 -1px 0px 0px #565656, 
                 0px 1px 0px #565656, 
                 0px -1px 0px #565656;
}
.brand-heading img{
	transition: all 1s;
}
.brand-heading img:hover{
	transform: scale(1.2);
}
.intro-contato{
	/*display: table;*/
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/background-contato.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro-form{
    /*display: table;*/
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/back-form.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* remove o espaço que tem entre a <section>contato</section> e o <map></map>*/
#map {
	margin-top: 0px;
}

.content-section {
     padding-top: 100px; 
}